.likebtn {
  fill: red;
  font-size: 20px;
  transition: 0.5s;
}

.likebtn:hover {
  font-size: 25px;
  transition: 0.5s;
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: rgb(5, 5, 5);
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
  position: absolute;
  height: 200px;
  width: 500px;
  top: 1.5rem;
  left: 20%;
  z-index: 1;
}
